Repository QATCH-Technologies/nanovisQ, pull requests merged in 2024-12, with the labels that each got.

#15 Run info rename
  QATCH/common/fileStorage.py
  QATCH/processors/Analyze.py
  QATCH/ui/mainWindow.py
  QATCH/ui/runInfo.py
Labels: bug

#28 Fixes #26
  QATCH/processors/Analyze.py
Labels: invalid, Software, Analyze

#27 Fixes #25
  QATCH/processors/Analyze.py
Labels: invalid, Software, Analyze

#32 Fix #31
  QATCH/processors/Analyze.py
Labels: enhancement, Software, Analyze

#35 30 refactor device selection
  QATCH/processors/Analyze.py
Labels: enhancement, Software, Analyze

#39 Run info rename
  QATCH/ui/runInfo.py
Labels: bug, Software, Run Info

#40 Fix #29: AI Select Tool code was overridding prior POIs
  QATCH/processors/Analyze.py
Labels: bug, Software, Analyze
